html, body {
    height: 100%;
    margin: 0;
}



.custom-bg {
    background-color: #0d92f9 !important;
}


.hidden {
    display: none !important;
}

.custom-row {
    position: sticky;
    margin-top: 20%;
}

.chat-color-left {
    background-color: #F0F0F0 !important;
}

.chat-color-right {
    background-color: #EBEBEB !important;
}

.chat-messages {
    display: flex;
    flex-direction: column;
    height: 80vh;
    max-height: 80vh;
    overflow-y: scroll
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}

.blue-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #0d92f9;
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translateY(-50%)
}

#chat-page {
    height: 100%;
}

.container-fluid, .card, .row {
    height: 100%;
}

.user-entry.active::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: blue;
}
.user-entry {
    position: relative;
}
.profile-picture {
    width: 50px;
    height: 50px;
    background-color: #0d92f9; /* Change to your desired color */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
  }