<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Chat Box UI Design</title>
    <link rel="stylesheet" type="text/css" href="/styles3.css">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

</head>
<body class="custom-bg">
<div id="username-page">
    <div class="row d-flex justify-content-center" style="position: sticky; margin-top: 20%;">
        <div class="col-md-6 col-xl-4">
            <div class="card mb-5">
                <div class="card-body d-flex flex-column align-items-center">
                    <h1>Login</h1>
                    <form class="text-center">
                        <div class="mb-3">
                            <input id="senderInput" class="form-control" type="text" name="Username" placeholder="Username" />
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary d-block w-100" type="button" onclick="connect();">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<main class="content ">
    <div id="chat-page" class="hidden">
        <div class="container p-0">

            <h1 class="h3 mb-3">Messages</h1>

            <div class="card">
                <div class="row g-0">
                    <div class="col-12 col-lg-5 col-xl-3 border-right custom-bg">
                        <a class="list-group-item list-group-item-action border-0 rounded-pill mt-2">
                            <div class="d-flex align-items-start">
                                <img src="user.png" class="rounded-circle mr-1" alt="Vanessa Tucker" width="40" height="40">
                                <div class="flex-grow-1 ml-3">
                                    Groupchat
                                </div>
                            </div>
                        </a>
                        <hr class="d-block d-lg-none mt-1 mb-0">
                    </div>

                    <div class="col-12 col-lg-7 col-xl-9">
                        <div class="py-2 px-4 border-bottom d-none d-lg-block">
                            <div class="d-flex align-items-center py-1">
                                <div class="position-relative">
                                    <img src="user.png" class="rounded-circle mr-1" alt="Sharon " width="40" height="40">
                                </div>
                                <div class="flex-grow-1 pl-3">
                                    <strong>Sharon</strong>
                                </div>
                            </div>
                        </div>

                        <div class="position-relative">
                            <div id="msg-page" class="chat-messages p-4">

                            </div>
                        </div>

                        <div class="flex-grow-0 py-3 px-4 border-top">
                            <div class="input-group">
                                <input id="messageInput" type="text" class="form-control" placeholder="Type your message">
                                <button id="sendMessage" class="btn btn-primary">Send</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    var usernamePage = document.querySelector("#username-page");
    var chatPage = document.querySelector("#chat-page");
    var stompClient = null;
    var senderName = null;

    function setConnected(connected) {
        document.getElementById("sendMessage").disabled = !connected;
    }

    function connect() {
        senderName = document.getElementById("senderInput").value.trim();
        if(senderName != null){
            usernamePage.classList.add("hidden");
            chatPage.classList.remove("hidden");
            document.querySelector("body").classList.remove("custom-bg");
        }
        var socket = new SockJS("/chat");
        stompClient = Stomp.over(socket);
        stompClient.connect({username: senderName}, function (frame) {
            setConnected(true);
            stompClient.subscribe("/topic/messages", function (message) {
                showMessage(JSON.parse(message.body));
            });

        }, function (error) {
            console.error("WebSocket Error: ", error);
        });


    }

    function showMessage(message) {
        var chatContainer = document.getElementById("msg-page");
        var messageElement = document.createElement("div");

        if (message.senderName === senderName) {
            messageElement.className = "outgoing-chats";
            messageElement.innerHTML =
            `<div class="chat-message-right mb-4">
              <div>
                <img src="user.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                  <div class="text-muted small text-nowrap mt-2">${new Date().toLocaleTimeString()}</div>
                  </div>
                  <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                <div class="font-weight-bold mb-1">You</div>
                ${message.content}
              </div>
            </div>`
        } else {
            messageElement.className = "received-chats";
            messageElement.innerHTML = `
                    <div class="chat-message-left pb-4">
                      <div>
                        <img src="user.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                        <div class="text-muted small text-nowrap mt-2">${new Date().toLocaleTimeString()}</div>
                      </div>
                      <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                        <div class="font-weight-bold mb-1">${message.senderName}</div>
                        ${message.content}
                      </div>
                    </div>`
        }

        chatContainer.appendChild(messageElement);
        chatContainer.scrollTop = chatContainer.scrollHeight;
    }

    function sendMessage() {
        if (!stompClient || !stompClient.connected) {
            alert("Not connected to WebSocket server!");
            return;
        }

        var senderName = document.getElementById("senderInput").value;
        var recipientName = "Groupchat"; // TODO: Change to group chat name
        var content = document.getElementById("messageInput").value;
        if (!senderName || !content) {
            alert("Please enter a name and a message!");
            return;
        }

        var chatMessage = { senderName: senderName, content: content };
        stompClient.send("/app/sendMessage", {}, JSON.stringify(chatMessage));
        document.getElementById("messageInput").value = "";
    }

    document.getElementById("sendMessage").onclick = sendMessage;

    // Cookie stuff
    //------------------------------------------------

    const senderInput = document.getElementById("senderInput");



    function setUsernameCookie(name){
        document.cookie = "username=name";
        console.log("Username Cookie set to " + name);
    }


    function getCookie(cookieName){
        let cookieNameAdjusted = cookieName + "=";
        let cookieArray = document.cookie.split(';');

        for(let i = 0; i < cookieArray.length; i++){
            let currentCookie = cookieArray[i];
            if(currentCookie.indexOf(cookieNameAdjusted) === 0){
                console.log("Cookie " + cookieName + " found. Content: " + currentCookie.substring(cookieNameAdjusted.length));
                return currentCookie.substring(cookieNameAdjusted.length);
            }
        }
        console.log("No Cookie " + cookieName + " found.");
    }

    function setCookie(cookieName, cookieValue) {
        document.cookie = cookieName + "=" + cookieValue;
        console.log("Cookie " + cookieName + " set to " + cookieValue);
    }

    // Check if a username cookie exists and replace the input with it
    function checkAndReplaceUsernameInput() {
        let cookie = getCookie("username");
        if (cookie) {
            senderInput.value = cookie;
            senderInput.placeholder = cookie;
            console.log("Username cookie found and input set to " + cookie);
        }
        else{
            console.log("Could not find username cookie on initial load.");
        }
    }
    // Save the username input to a cookie when it is set in our Chat Window
    function saveUsernameInput() {
        let username = senderInput.value;
        if (username != null) {
            console.info("New username input detected, cookie set to " + username);
            setCookie("username", username);

        }
        else{
            console.error("Could not find username input to save.");
        }
    }

    checkAndReplaceUsernameInput();

    senderInput.addEventListener("change", function(){
        saveUsernameInput();
    });

    //------------------------------------------------

    // Testing for list of active users, TODO: Delete later
    function getActiveSessionCount(){
        fetch("/activeUsers")
            .then(response => response.json())
            .then(data => {
            console.log("Active Sessions: " + data);
        });
    }

    setInterval(getActiveSessionCount, 5000);

</script>
</body>
</html>